.app {
  background-image: linear-gradient(to right top, #f8f8f8, #efefef, #e7e7e7, #c9c9c9, #a1a1a1);
  min-height: 100vh;
}

/*что-то типа <hr> кастомного*/
.sep {
  border-bottom: 1px solid #cdcdcd;
}
